[submodule "Dependency/prism"]
	path = Dependency/prism
	url = https://github.com/PrismJS/prism.git
[submodule "Dependency/hoedown"]
	path = Dependency/hoedown
	url = https://github.com/hoedown/hoedown.git
[submodule "Dependency/handlebars-objc"]
	path = Dependency/handlebars-objc
	url = https://github.com/MacDownApp/handlebars-objc.git
[submodule "Dependency/JJPluralForm"]
	path = Dependency/JJPluralForm
	url = https://github.com/junjie/JJPluralForm.git
[submodule "Dependency/M13OrderedDictionary"]
	path = Dependency/M13OrderedDictionary
	url = https://github.com/Marxon13/M13OrderedDictionary.git
[submodule "Dependency/MASPreferences"]
	path = Dependency/MASPreferences
	url = https://github.com/shpakovski/MASPreferences.git
[submodule "Dependency/PAPreferences"]
	path = Dependency/PAPreferences
	url = https://github.com/dhennessy/PAPreferences.git
